{{- $image := .image -}}
{{- $widths := .widths -}}
{{- $src := $image.RelPermalink -}}
{{- $srcset := slice -}}
{{- $format := .format | default "" -}}
{{- $quality := .quality | default 84 -}}
{{- $modernSrcset := .modernSrcset | default "" -}}

{{- range $widths -}}
  {{- if le . $image.Width -}}
    {{- $resizeSpec := printf "%dx" . -}}
    {{- if $format -}}
      {{- $resizeSpec = printf "%dx %s q%d" . $format $quality -}}
    {{- end -}}
    {{- $variant := $image.Resize $resizeSpec -}}
    {{- if eq $src $image.RelPermalink -}}
      {{- $src = $variant.RelPermalink -}}
    {{- end -}}
    {{- $srcset = $srcset | append (printf "%s %dw" $variant.RelPermalink $variant.Width) -}}
  {{- end -}}
{{- end -}}

{{- if $modernSrcset }}
<picture>
  <source
    type="image/webp"
    srcset="{{ $modernSrcset }}"
    {{ with .sizes }}sizes="{{ . }}"{{ end }}>
{{- end }}
<img
  {{ with .class }}class="{{ . }}"{{ end }}
  src="{{ $src }}"
  {{ with $srcset }}srcset="{{ delimit . ", " }}"{{ end }}
  {{ with .sizes }}sizes="{{ . }}"{{ end }}
  width="{{ $image.Width }}"
  height="{{ $image.Height }}"
  alt="{{ .alt }}"
  {{ with .loading }}loading="{{ . }}"{{ end }}
  decoding="async"
  {{ with .fetchpriority }}fetchpriority="{{ . }}"{{ end }}>
{{- if $modernSrcset }}
</picture>
{{- end }}
